doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/lib/bootstrap-grid.min.css")
        link(rel="stylesheet" href="/lib/bootstrap-reboot.min.css")
        link(rel="stylesheet" href="/lib/bootstrap-utilities.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        link(rel="stylesheet" href="/css/main.css")
        title Document
    body         
        header.header
            .container
                .row
                    .col-xl-6.col-lg-5.col-md-3.col-sm-12
                        .header__logo 
                            .header__img 
                                a(href="home.html") 
                                    img(src="/img/Logo.png" alt="")
                            .header__icon 
                                i.fa-solid.fa-bars.btn.btn-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasRight' aria-controls='offcanvasRight')

                                #offcanvasRight.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasRightLabel')
                                    .offcanvas-header
                                        h5#offcanvasRightLabel MENU
                                        button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                                    .offcanvas-body
                                        .off 
                                            .off__navigatoin 
                                                ul
                                                    li
                                                        a(href="./home.html") Home
                                                    li
                                                        a(href="./blog.html") Blog
                                                    li
                                                        a(href="./about.html") About Us
                                                    li
                                                        a(href="./login.html") Contact us
                                                    li#sub-m
                                                        a#sub(href="#") Subscribe
                    .col-xl-4.col-lg-5.col-md-6
                        .header__menu 
                            ul
                                li
                                    a(href="./home.html") Home
                                li
                                    a(href="./blog.html") Blog
                                li
                                    a(href="./about.html") About Us
                                li
                                    a(href="./login.html") Contact us
                    .col-xl-2.col-lg-2.col-md-3
                        .header__btn 
                            a(href="./login.html") 
                                button.bn.bn-header Subscribe    

        section.team 
            .container 
                .row
                    .offset-md-1.col-md-6
                        .team__main
                            .team__name 
                                p ABOUT US
                            .team__title 
                                h5 We are a team of content writers who share their learnings
                    .col-md-5
                        .team__desc 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        section.blog 
            .container 
                .blog__img 
                    img(src="/img/blog-img.png", alt="")
                    .blog__blog 
                        .blog__info     
                            .blog__grade 
                                h5 12+
                            .blog__desc 
                                p Blogs Published
                        .blog__info     
                            .blog__grade 
                                h5 18K+
                            .blog__desc 
                                p Views on Finsweet
                        .blog__info     
                            .blog__grade 
                                h5 30K+
                            .blog__desc 
                                p Total active Users

        section.our 
            .container   
                .our__main 
                    .row
                        .col-md-6 
                            .our__said
                                .our__name 
                                    p Our mision
                                .our__title     
                                    h5 Creating valuable content for creatives all around the world
                                .our__desc 
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus.
                        .col-md-6 
                            .our__name 
                                p Our Vision
                            .our__title     
                                h5 A platform that empowers individuals to improve
                            .our__desc 
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus.

        section.creative 
            .container
                .row
                    .col-md-6.order-sm-2.order-2
                        .creative__main
                            .creative__title 
                                h5 Our team of creatives
                            .creative__info 
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                            .creative__desc 
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                    .col-md-6.order-sm-1.order-1
                        .creative__img 
                            img(src="/img/creative-img.png", alt="")

        section.creative 
            .container
                .row
                    .col-md-6   
                        .creative__img 
                            img(src="/img/creative-img2.png", alt="")
                    .col-md-6 
                        .creative__main
                            .creative__title 
                                h5 Why we started this Blog
                            .creative__info 
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                            .cretive__desc 
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.

        section.list
            .container
                .list__title
                    h5 List of Authors
                .row
                    .col-md-3.col-sm-6
                        .list__cards
                            .list__img 
                                img(src="/img/list-img1.png", alt="")
                            .list__name
                                h5 Floyd Miles
                            .list__info     
                                p Content Writer @Company
                            .list__social 
                                a(href="#") 
                                    i.fa-brands.fa-facebook
                                a(href="#") 
                                    i.fa-brands.fa-twitter
                                a(href="#") 
                                    i.fa-brands.fa-instagram
                                a(href="#") 
                                    i.fa-brands.fa-linkedin
                    .col-md-3.col-sm-6
                        .list__cards
                            .list__img 
                                img(src="/img/list-img2.png", alt="")
                            .list__name
                                h5 Dianne Russell
                            .list__info     
                                p Content Writer @Company
                            .list__social 
                                a(href="#") 
                                    i.fa-brands.fa-facebook
                                a(href="#") 
                                    i.fa-brands.fa-twitter
                                a(href="#") 
                                    i.fa-brands.fa-instagram
                                a(href="#") 
                                    i.fa-brands.fa-linkedin
                    .col-md-3.col-sm-6
                        .list__cards
                            .list__img 
                                img(src="/img/list-img3.png", alt="")
                            .list__name
                                h5 Jenny Wilson
                            .list__info     
                                p Content Writer @Company
                            .list__social 
                                a(href="#") 
                                    i.fa-brands.fa-facebook
                                a(href="#") 
                                    i.fa-brands.fa-twitter
                                a(href="#") 
                                    i.fa-brands.fa-instagram
                                a(href="#") 
                                    i.fa-brands.fa-linkedin
                    .col-md-3.col-sm-6
                        .list__cards
                            .list__img 
                                img(src="/img/list-img4.png", alt="")
                            .list__name
                                h5 Leslie Alexander
                            .list__info     
                                p Content Writer @Company
                            .list__social 
                                a(href="#") 
                                    i.fa-brands.fa-facebook
                                a(href="#") 
                                    i.fa-brands.fa-twitter
                                a(href="#") 
                                    i.fa-brands.fa-instagram
                                a(href="#") 
                                    i.fa-brands.fa-linkedin
                    .col-md-3.col-sm-6
                        .list__cards
                            .list__img 
                                img(src="/img/list-img5.png", alt="")
                            .list__name
                                h5 Guy Hawkins
                            .list__info     
                                p Content Writer @Company
                            .list__social 
                                a(href="#") 
                                    i.fa-brands.fa-facebook
                                a(href="#") 
                                    i.fa-brands.fa-twitter
                                a(href="#") 
                                    i.fa-brands.fa-instagram
                                a(href="#") 
                                    i.fa-brands.fa-linkedin
                    .col-md-3.col-sm-6
                        .list__cards
                            .list__img 
                                img(src="/img/list-img6.png", alt="")
                            .list__name
                                h5 Eleanor Pena
                            .list__info     
                                p Content Writer @Company
                            .list__social 
                                a(href="#") 
                                    i.fa-brands.fa-facebook
                                a(href="#") 
                                    i.fa-brands.fa-twitter
                                a(href="#") 
                                    i.fa-brands.fa-instagram
                                a(href="#") 
                                    i.fa-brands.fa-linkedin
                    .col-md-3.col-sm-6
                        .list__cards
                            .list__img 
                                img(src="/img/list-img7.png", alt="")
                            .list__name
                                h5 Robert Fox
                            .list__info     
                                p Content Writer @Company
                            .list__social 
                                a(href="#") 
                                    i.fa-brands.fa-facebook
                                a(href="#") 
                                    i.fa-brands.fa-twitter
                                a(href="#") 
                                    i.fa-brands.fa-instagram
                                a(href="#") 
                                    i.fa-brands.fa-linkedin
                    .col-md-3.col-sm-6
                        .list__cards
                            .list__img 
                                img(src="/img/list-img8.png", alt="")
                            .list__name
                                h5 Jacob Jones
                            .list__info     
                                p Content Writer @Company
                            .list__social 
                                a(href="#") 
                                    i.fa-brands.fa-facebook
                                a(href="#") 
                                    i.fa-brands.fa-twitter
                                a(href="#") 
                                    i.fa-brands.fa-instagram
                                a(href="#") 
                                    i.fa-brands.fa-linkedin

        section.join 
            .container
                .join__main 
                    .join__title 
                        h5 Join our team to be a part of our story
                    .join__desc     
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    .join__btn 
                        a(href="./author.html") 
                            button.bn.bn-join Join Now

        footer.footer 
            .container
                .footer__top    
                    .footer__logo 
                        a(href="home.html") 
                            img(src="/img/logo.png", alt="")
                    .footer__menu 
                        ul
                            li
                                a(href="./home.html") Home
                            li
                                a(href="./blog.html") Blog
                            li
                                a(href="./about.html") About Us
                            li
                                a(href="./login.html") Contact us
                .footer__center 
                    .row
                        .col-lg-12.col-xl-6
                            .footer__title 
                                h5 Subscribe to our news letter to get latest updates and news
                        .col-lg-12.col-xl-6
                            .footer__right 
                                .footer__input 
                                    form(action="#")
                                        input(type="email" placeholder="Enter Your Email")
                                .footer__btn
                                    button.bn.bn-footer Subscribe
                .footer__bottom 
                    .footer__info 
                        p Finstreet 118 2561 Fintown
                        p Hello@finsweet.com  020 7993 2905
                    .footer__social 
                        a(href="#") 
                            i.fa-brands.fa-facebook
                        a(href="#") 
                            i.fa-brands.fa-twitter
                        a(href="#") 
                            i.fa-brands.fa-instagram
                        a(href="#") 
                            i.fa-brands.fa-linkedin


                    
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js' integrity='sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF' crossorigin='anonymous')
